body {
    box-sizing: border-box;
    margin: 0;
    background-image: url("images/sequioa.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper {
    margin: 0;
}

.header {
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cooper Hewitt", sans-serif;
    color: white;
    font-size: 48px;
    padding: 20px;
}

.navlist{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.navlist li a{
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.profileimg img{
    width: 200px;
    border-radius: 50%;
}

.intro {
    width: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
    padding: 5px;
    border-radius: 10%;
}

.intro p{
    color: white;
    font-size: 48px;
    padding: 10px;
    text-align: center;
}